<div id="userpage">
    <div>
        <nav class="navbar navbar-expand-lg navbar-light ">
            <a class="navbar-brand" routerLink="../User">Hello &nbsp;{{CustObj.CustomerName}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="../User">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="../BookIssue">Issue Book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="../EditProfile">Update Profile</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " routerLink="../History">Check History</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                        data-bs-target="#myModal">
                        Log Out
                    </button>
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Do you want to logOut??</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">

                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                                        (click)="logout()">Log Out</button>
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>

                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log Out</button> -->
                </form>
            </div>
        </nav>
    </div><br><br>
    <div>
        <h2 style="text-align: center; font-family: 'system-ui'; color: #f7e0ff;">History</h2>
        <table class="table table-striped table-hover">
            <tr class="tablehead">
                <th>Transaction Id</th>
                <th>Book Id</th>
                <th>Book Name</th>
                <th>Book Catagory</th>
                <th>Issue Date</th>
                <th>Submit Date</th>
                <th>Transaction Status</th>
            </tr>
            <tr *ngFor="let item of transactions" class="tabledata">
                <td >{{item.TransactionID}}</td>
                <td>{{item.BookId}}</td>
                <td>{{item.BookName}}</td>
                <td>{{item.BookCatagory}}</td>
                <td>{{item.BookIssueDate}}</td>
                <td>{{item.BookSubmitDate}}</td>
                <td>{{item.TransactionStatus}}</td>
            </tr>
        </table>
    </div>
    
</div>