
<!-- <app-admin-page></app-admin-page> -->
<!-- <app-issue-book></app-issue-book> -->
<!-- <app-user-page></app-user-page> -->
<!-- <app-issue-book></app-issue-book> -->
<!-- <app-view-records></app-view-records> -->
<!-- <app-add-customer></app-add-customer> -->
<!-- <app-update-customer></app-update-customer> -->
<!-- <app-add-details></app-add-details> -->
<!-- <app-edit-profile></app-edit-profile> -->
<!-- <app-history></app-history> -->
<!-- <app-customer-registration></app-customer-registration> -->
<router-outlet></router-outlet>